.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.informacion{
  display: flex;
  flex-direction: column;
  justify-content: center ;
  width: 100%;
  align-items: center;
}

.informacion input{
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.informacion button{
  width: 318px;
  height: 50px;
  margin-top: 15px;
}

.informacion button:hover{
  cursor: pointer;

}


