.floating-select{
    margin-top:15px;
    margin-bottom: 10px;

}

.main-section{
    
    margin: 0 auto;
    padding: 0;
}

.container-register{
    padding-bottom: 200px;
}

input{
    text-transform: uppercase;
}