h1,h2,h3,h4,h5{
    text-align: center;
}

.btn-register{
    margin-bottom: 10px;
}

.btn-form{
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-form:hover{
    background-color: #0a58ca;
    border-color: #0a53be;
}

.btn-form:focus{
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be;
}

.modal-dialog{
    background-color: white;
}

table th{
    text-align: center;
}

.label-buscar{
    padding-left: 25px !important;
    
}